.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height as needed */
}

.header-container h1 {
    margin: 0; /* Remove default margin */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.flashcard {
    width: calc(50% - 10px);
    min-height: 150px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.flashcard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Change overlay color to black */
    z-index: 1;
    transition: all 0.3s ease;
    opacity: 0;
}

.flashcard:hover::before {
    opacity: 20;
}

.flashcard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgb(255, 255, 255);
}



.flashcard-content {
    text-align: center;
    z-index: 2;
    position: relative;
}

.flashcard h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.flashcard p {
    margin-bottom: 0;
    color: #666;
}
